.cards {
  margin: 3rem 0;
  display: flex;
	flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--card-bg-color);
  /* border: 1px solid var(--main-text-color); */
  box-shadow: 0px 10px 30px rgba(30,30,30, 0.1);
  border-radius: 7px;
  margin: 1rem 2rem;
  flex-basis: 250px;
	flex-grow: 1;
}

.card img {
  width: 100px;
  border-radius: 7px;
}

.card h3 {
  flex-grow: 1;
  padding-left: 2rem;
}
